body {
    background-color: #f0f4f8;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    padding: 50px;
}


.todo-container {
    background: white;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
    width: 100%;
    max-width: 400px;
}


h1 {
    text-align: center;
    color: blue;
    font-family: 'Times New Roman', Times, serif;
}


.input-Task {
    display: flex;
    gap: 10px;
}


input[type="text"] {
    flex: 1;
    padding: 10px;
    font-size: 16px;
    width: 60%;
    font-size: 15px;
    margin-top: 10px ;
    border: 1px solid #ccc;
    border-radius: 6px;
}



button {
    padding: 10px 15px;
    background: blue;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 4px;
}


button:hover {
    background: rgb(73, 49, 209);
}


ul {
    margin-top: 20px;
    list-style: none;
    padding: 0;
}


li {
    background: #f9f9f9;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 6px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}



li.completed {
    text-decoration: line-through;
    color: gray;
}



li button {
    background: red;
    border: none;
    color: white;
    padding: 5px 8px;
    border: 4px;
    cursor: pointer;
}


#button01 {
    background-color: black;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    text-align: center;
    width: 100%;
}


#button01:hover {
    background: rgb(58, 55, 55)
}